<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myadmin.mapper.LectureMapper">

    <select id="select" parameterType="Integer" resultType="Lecture">
        SELECT *
        FROM lecture
        WHERE id=#{id}
    </select>
    <select id="selectall" resultType="Lecture">
        SELECT *
        FROM lecture
    </select>
    <insert id="insert" parameterType="Lecture">
        INSERT INTO lecture
        VALUES (lecture_seq.NEXTVAL,#{title},#{teacher}
                ,#{topic}, #{target}, SYSDATE, #{length}, #{price}, #{img}, #{rating})
    </insert>
    <update id="update" parameterType="Lecture">
        UPDATE lecture
        SET title=#{title}, teacher=#{teacher}, topic=#{topic}, target=#{target}
            , rdate = SYSDATE, length=#{length}, rating=#{rating}, price=#{price}, img=#{img}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM lecture
        WHERE id=#{id}
    </delete>

    <select id="search" parameterType="LectureSearch" resultType="Lecture">
        SELECT *
        FROM lecture
        <where>
            <if test="topic != null and !topic.equals('')">
                topic = #{topic}
            </if>
            <if test="title != null and !title.equals('')">
                AND title LIKE '%'||#{title}||'%'
            </if>
            <if test="teacher != null and !teacher.equals('')">
                AND teacher LIKE '%'||#{teacher}||'%'
            </if>
            <if test="lowerPrice != null and !lowerPrice.equals('') ">
                AND price &gt; #{lowerPrice}
            </if>
            <if test="upperPrice != null and !upperPrice.equals('') ">
                AND price &lt; #{upperPrice}
            </if>
            <if test="rating != null and !rating.equals('') ">
                AND rating &gt; #{rating}
            </if>
        </where>
    </select>

</mapper>